<p style="color: green"><%= notice %></p>

<h1>Campings</h1>

<div id="campings">
  <% @campings.each do |camping| %>
    <%= render camping %>
    <p>
      <%= link_to "Show this camping", [@country, @region, @city, camping] %>
    </p>
    <p>
    <%= link_to "Back to city", [@country,@region,@city] %>
  </p>
  <% end %>
</div>

<%= link_to "New camping", new_country_region_city_camping_path(@country) %>
