<p style="color: green"><%= notice %></p>

<%= render @city %>

<div>
  <%= link_to "Edit this city", edit_country_region_city_path(@country,@region, @city) %> |
  <%= link_to "Back to cities", country_region_cities_path(@region) %>

  <%= button_to "Destroy this city", [@country, @region, @city], method: :delete %>
</div>
