<p style="color: green"><%= notice %></p>

<%= render @region %>

<div>
  <%= link_to "Edit this region", edit_country_region_path(@country, @region) %>
  <%= link_to "Back to regions", country_regions_path(@country) %>

  <%= button_to "Destroy this region", [@country, @region], method: :delete %>
</div>
